html {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7f8;
}
h1 {
    margin: 0;
}
.band {
    max-width: 1240px;
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    color: #000;
    border: 2px solid;
}
.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}
.card article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 5px 10px;
}
.card article p {
    flex-grow: 1;
}
@media screen and (min-width: 500px) {
    .band {
        grid-template-columns: 1fr 1fr;

    }
    .item-1 {
        grid-column: 1/3;
    }
}
@media screen and (min-width: 850px) {
    .band {
        grid-template-columns: repeat(4, 1fr);

    }
}